body{
    background-image: url(menuclase/ciudad.jfif);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 100vh;
}

table{
    width: 70%;
    border: 1px solid black;
    margin-left: auto;
    margin-right: auto;
}


.col h1{
    font-size: 400%;
    color: blueviolet;
    text-align: center;
}